* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: aquamarine;    
    padding: 16px;
    
}
.formButtons{
    display: flex;
    gap: 4px;
}