html,
body {
    margin: 0;
    height: 100%;
    background-color: azure;

}

.title {
    height: 18%;
    background: rgb(166, 255, 120);
    background: linear-gradient(148deg, rgba(166, 255, 120, 1) 10%, rgba(182, 225, 244, 1) 92%);
    margin: 0px 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100;
}

.board {
    background: rgb(34, 193, 195);
    background: linear-gradient(236deg, rgba(34, 193, 195, 0.8631827731092436) 0%, rgba(53, 115, 116, 0.8715861344537815) 52%, rgba(117, 117, 117, 0.8155637254901961) 96%);
    width: 35vw;
    height: 35vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    border-radius: 10px;

}

.board-cell {
    border: 2.5px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large
}

button {
    height: 50px;
    width: 30%;
    border-radius: 12px;
    background-color: #22c1c3;
}

.result {
    font-size: large;
    font-style: italic;
}