* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

}

.wordShown {
    letter-spacing: 16px;
}